<div class="container bg-dark rounded-3 mt-4">
  <div class="row align-items-center">
    <div class="col-6 col-md-4 py-3">
      <img
        src="assets/img/Foto_Perfil.jpeg"
        class="img-fluid img-thumbnail"
        style="max-width: 300px"
        alt="Foto do aluno" />
    </div>
    <div class="col-6 col-md-8">
      <div class="mb-2">
        <p class="fs-4 text-secondary">
          <strong>Nome:</strong> <span class="nome"> Vitor Damaceno</span>
        </p>
      </div>
      <div class="mb-2">
        <p class="fs-4 text-secondary">
          <strong>Turma:</strong> <span class="turma"> ADS0301M</span>
        </p>
      </div>
      <div class="mb-2">
        <p class="fs-4 text-secondary">
          <strong>Turno:</strong> <span class="turno"> Manhã</span>
        </p>
      </div>
      <div class="mb-2">
        <p class="fs-4 text-secondary">
          <strong>Unidade:</strong> <span class="unidade"> Bonsucesso</span>
        </p>
      </div>
    </div>
  </div>
</div>
